@import './modules/fonts-standart';
@import './modules/colors';
@import './modules/calculations';

// default font-size
$browser-font-size: 16;

// переопределение стилей
.modal-module {
  &__block_creation-registration {
    max-width: 420px;
  }
}

.creation-registration {
  font: 400 1rem 'Rubik';
}

.write-data {
  &__title {
    @include em(24, 33.6);
    font-weight: 500;
    text-align: center;
    color: $black;
  }
  &__description {
    @include em(16, 24);
    font-family: 'open_sansregular';
    color: $grey;
    margin-top: em(24, 16);
    text-align: center;
  }
  &__wrapper-input {
    margin-top: em(24);
    text-align: center;
  }
  &__wrapper-btn {
    margin-top: em(24);
    text-align: center;
  }
}

.cb-input-module {
  @include em(20, 27);
  font-family: 'open_sanssemibold';
  font-weight: 400;
  border-radius: em(8, 20);
  padding: em(10.5, 20) em(24, 20) em(9.5, 20);
  border: 1px solid $light-grey;
  max-width: 318px;
  width: 100%;
  box-sizing: border-box;
  color: $black;
}
.cb-input-module:focus {
  outline: none;
  border: 1px solid rgb(208, 186, 101);
  box-shadow: rgb(254 218 78) 0px 0px 10px;
  transition: all 0.15s ease;
}

.cb-btn-module {
  @include em(16, 21.79);
  font-family: 'open_sanssemibold';
  padding: em(12, 16);
  border-radius: em(8, 16);
  border: 2px solid $main;
  background-color: $main;
  color: $white;
  max-width: 318px;
  width: 100%;
  box-sizing: border-box;
}
.cb-btn-module:hover {
  cursor: pointer;
}
.cb-btn-module_disabled {
  border-color: transparent;
  background-color: rgba($main, .65);
}
.cb-btn-module_disabled:hover {
  cursor: default;
}
.cb-btn-module_hover-light:hover {
  border-color: transparent;
  background-color: rgba($main, 0.9);
  transition: border-color 0.3s ease, background-color 0.3s ease;
}
.cb-btn-module_hover-dark:hover {
  filter: brightness(0.95);
  transition: filter 0.3s ease;
}

.cb-link-module {
  border: none;
  padding: 0;
  background-color: transparent;
  font-family: "open_sansregular";
  font-size: em(16, 16);
  color: rgba($main, .9);
}
.cb-link-module:hover {
  cursor: pointer;
  text-decoration: underline;
}

.confirmation-sms {
  &__title {
    @include em(24, 33.6);
    font-weight: 500;
    text-align: center;
    color: $black;
  }
  &__description {
    @include em(16, 24);
    font-family: 'open_sansregular';
    color: rgba($grey, .65);
    margin-top: em(24, 16) !important;
    text-align: center;
  }
  &__description_phone {
    color: $grey;
    // font-family: 'open_sanssemibold';
  }
  &__description_timer {
    @include em(16, 24);
    color: rgba($grey, .65);
    margin-top: em(10, 16) !important;
  }
  &__code {
    @include em(24, 32);
    // text-align: center;
    // letter-spacing: em(8, 24);
    word-spacing: em(6, 24);
    max-width: none;
    width: 155px;
    border: 2px solid #EAEAEA;
    padding: em(11, 24) em(24, 20) em(9, 24);
  }
  &__code:focus {
    outline: none;
    border: 2px solid rgba(208, 186, 101, 0.6);
    box-shadow: rgb(254 218 78) 0px 0px 10px;
  }
  &__code::placeholder {
    color: rgba($grey, .65);
    word-spacing: em(6, 24);
    text-align: center;
  }
  &__wrapper-code {
    margin-top: em(48);
    text-align: center;
    
  }
  &__wrapper-input {
    margin-top: em(24);
    text-align: center;
  }
  &__wrapper-btn {
    margin-top: em(48);
    text-align: center;
  }
  &__wrapper_send-again {
    margin-top: em(12);
    text-align: center;
  }
  &__wrapper_change-num {
    margin-top: em(12);
    text-align: center;
  }
}
